@model BLL.Models.CompanyModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Company", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{


    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-3 col-sm-10 col-sm-offset-2 col-xs-12">
            <h4>Edit company details</h4>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CompanySize, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CompanySize, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CompanySize, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OrganizationalLegalForm, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OrganizationalLegalForm, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OrganizationalLegalForm, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.TextBoxFor(model => model.CompanyId, new { @style = "visibility: hidden" })
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Cancel", "GetAll", "Person", new { @type = "button", @class = "btn btn-default", @style = "float: right; margin-left: 5px;" })
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>


        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </div>
}